.containerApp {
    min-width: 360px;
    height: 100vh;
    background-color: white;
    border-radius: 8px;
    margin:5px
}

.breakLine {
    color: black;
    width: 100%;
}

.title {
    color: black;
    font-family: monospace;
    font-size: 40px;
    padding: 20px 0px 2px 0px;
    text-align: center;
    margin: 0;
}

.todoContainer {
    margin-top: 40px;
    overflow-y: scroll;
    height: 580px;
}

/* media queries to work with table */
@media (min-width: 415px) and (max-width: 678px){
    .containerApp {
        max-width: 600px;
        height: 80vh;
        background-color: white;
        border-radius: 8px;
        padding:8px;
    }
}


@media (min-width: 678px){
    .containerApp {
        width: 600px;
        height: 80vh;
        background-color: white;
        border-radius: 8px;
        padding:8px;
    }
}